.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.header a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-family: "Century Gothic";
  font-weight: 500;
  transition: color 0.3s ease;
}

.header a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.contact a{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-family: "Century Gothic";
  font-weight: 500;
  transition: color 0.3s ease;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.header a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

body {
  background: #141E30;
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
  text-align: center;
}

#about-me {
    text-align: left;
    padding-left: 10px;
}

#experience {
    text-align: right;
    padding-right: 10px;
}

#projects {
    text-align: left;
    padding-left: 10px;
}

#contact {
    text-align: center;
}

h1 { 
    color: #fff;
    font-family: "Century Gothic"; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 44px;
}

h2 {
    color: #FFF;
    font-size: 2em;
    padding-top: 50px;
    width: 100%;
    font-family: Georgia;
}

h3 {
    color: #FFF;
    padding-top: 50px;
    width: 100%;
    font-family: Georgia;
}

h4 {
    color: #FFF;
    padding-top: 50px;
    width: 100%;
    font-family: Georgia;
}

p {
    color: aliceblue;
    line-height: 1.3em;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: #fff;
    font-family: "Century Gothic"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 44px;
    text-decoration: none;
}

ul {
    color: #fff;
}

.center-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
}